



.form input{
    font-size: 30px;
    height: 70px;
    width: 30em;
    text-align: center;
}
.icons{
    display:flex;
    justify-content: space-between;
}

.nav a{
    text-decoration: none;
    font-size: 1em;
}




.logo{
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    gap: 60px;
}

.a h1{
    display: inline;
    font-size: 30px;
}


.d{
    display: none;
}
.f{
    display: none;
}
.e{
    display: none;
}

.nav{
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap:30px;
}
.nav a{
    text-decoration: none;
    font-size: 1em;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:60px;  
}
.main,.Watch,.kids{
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.img{

    background-color: #F5F5F5;
}
.main{
    background-color: #FFFBE7;
}
.Watch{
    background-color: #F8F8F8;

}
.first{
    background-color: #F5F5F5;
}
.second{
    background-color: #FFF8EE;
}
.kids{
    background-color: #D0BEF9;
}
.first,.second{
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.grid h1{
    grid-column: 1/-1;
}
article img{
    width:100%
}
.form input{
    width:100%
}
article h2,h4{
    display: inline;
}
article h4{
    text-decoration: line-through;
}


@media screen and (min-width: 481px) and (max-width:968px) {
    .logo{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 60px;

    }
    .b{
        display: none;
        
    }
    .d{
        display: grid;
    }
    .e{
        display: grid;
    }
    .f{
        grid-column: 1/-1;
        display: grid;
    }

    .nav{
        display: none;
    }
    
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .first,.second{
        grid-column: 1/-1;
    }
    .topnav {
        overflow: hidden;
        position: relative;
      }
      
      /* Hide the links inside the navigation menu (except for logo/home) */
      .topnav #myLinks {
        display: none;
      }
      
      /* Style navigation menu links */
      .topnav a {
        color:black;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      
      /* Style the hamburger menu */
      .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      /* Add a grey background color on mouse-over */
      .topnav a:hover {
        background-color: #ddd;
        
      }
      
      /* Style the active link (or home/logo) */
      .active {
        background-color: #04AA6D;
        color: white;
      }


    
}
@media screen and (min-width: 140px) and (max-width:480px) {

    .logo{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }
    .a h1{
        display: inline;
        font-size: 10px;
    }
    .b{
        display: none;
        
    }
    .d{
        display: grid;
    }
    .f{
        grid-column: 1/-1;
        display: grid;
    }
    .nav{
        display: none;
    }
    
    .e{
        display: grid;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap:30px;
    }
    .first,.second{
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .form input{
        font-size: 10px;
        height: 30px;
        width: 100%;
        text-align: center;
    }
    a{
        text-decoration: none;
        color: black;
    }
    .topnav {
        overflow: hidden;
        position: relative;
      }
      
      /* Hide the links inside the navigation menu (except for logo/home) */
      .topnav #myLinks {
        display: none;
      }
      
      /* Style navigation menu links */
      .topnav a {
        color:black;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      
      /* Style the hamburger menu */
      .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      /* Add a grey background color on mouse-over */
      .topnav a:hover {
        background-color: #ddd;
        
      }
      
      /* Style the active link (or home/logo) */
      .active {
        background-color: #04AA6D;
        color: white;
      }

    
}